{% extends 'base.html' %}

{% block page %}
{% from 'macroses.html' import place as PlaceMacro %}


<h1>Добро пожаловать, {{ user.username }}!</h1>
     <a class="nav-link" href="{{ url_for('users_blueprint.logout') }}">Logout</a>




<h2>Понравившееся места</h2>

<ul>
  {% for place in liked_places %}
    <li>
      <h4>{{ place.name }}</h4>
      <a href="/place/{{ place.id }}/">Подробнее</a>
    </li>
    {%for regionplace in liked_places_russia%}
    <li>
      <h4>{{ regionplace.name }}</h4>
      <a href="/regionplace/{{ regionplace.id }}/">Подробнее</a>
    </li>
    {% endfor %}
    
  {% else %}
    <li>Нет понравившихся мест.</li>
  {% endfor %}
</ul>






{% endblock %}